<% if (site.posts.length) { %>
    <div class="widget-wrap">
        <h1 class="widget-title"><%= __('widget.recents') %></h1>
		<div id="recent-post" class="widget <%= (theme.customize.thumbnail?'':'no-thumbnail') %>">
			<% site.posts.sort('date', -1).limit(5).each(function(post) { %>
				<% var thumbnailUrl = thumbnail(post) %>
				<% if (thumbnailUrl) { %>
				<a href="<%- url_for((post.link?post.link:post.path)) %>"style="background-image:url(<%- url_for(thumbnailUrl) %>)" alt="<%= post.title %>" class="thumbnail-image">
				<% } else { %>
				<a class="thumbnail-image thumbnail-none">
				<% } %>
					<!-- <p class="item-category"><%- list_categories(post.categories, {show_count: false, depth:2, class: 'article-category', style: 'none', separator: '<i class="fa fa-angle-right"></i>'}) %></p> -->
					<span class="label"><span class="title"><%= post.title %></span></span>
					<!-- <p class="item-date"><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date) %></time></p> -->
				</a>
			<% }) %>
        </div>
    </div>
<% } %>
