<% if(!index) { %><section id="main"><% } %>
<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
	<%- partial('post/gallery') %>
	<% if (post.link || post.title) { %>
		<header class="article-header">
			<% if (index) { %>
				<a itemprop="url" href=
				<% if (post.link) { %>
				"<%- url_for(post.link) %>" target="_blank"
				<% } else if (post.title) { %>
				"<%- url_for(post.path) %>"
				<% } %>
				>
					<% if (post.banner) { %>
					<img src="<%- post.banner %>" class="article-banner" />
					<% } %>
					<h1><%- post.title %></h1>
				</a>
			<% } else { %>
				<img src="<%- post.banner %>" class="article-banner" />
				<h1><%- post.title %></h1>
			<% } %>
			<div class="article-meta">
				<%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
				<%- partial('post/category') %>
				<%- partial('post/tag') %>
			</div>
		</header>
	<% } %>
	<div class="article-entry" itemprop="articleBody">
	<% if (index) { %>
		<p><%- excerpt(post) %></p>
	<% } else { %>
		<% if (!index && post.toc) { %>
			<div id="toc" class="toc-article">
			<strong class="toc-title"><%= __('article.catalogue') %></strong>
				<%- toc(post.content) %>
			</div>
		<% } %>
		<%- post.content %>
	<% } %>
	<% if (index) { %>
		<a class="article-more-link" href="<%- url_for(post.path) %>#more"><span><%= __('article.more') %></span></a>
	<% } else { %> <% } %>
	</div>
	<footer class="article-footer">
		<%- partial('share/index', { post: post }) %>
		<%- partial('comment/counter', { post: post }) %>
	</footer>
	<% if (!index) { %>
		<%- partial('post/nav') %>
	<% } %>
</article>

<% if (!index) { %>
	<%- partial('comment/index') %>
<% } %>
<% if(!index) { %></section><% } %>
